.read-more {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: lightblue;
    color: white;
    border-radius: 8px;
    border-width: 0;
}

.read-more:hover {
    background-color: rgb(94, 192, 224);
    cursor: pointer;
}

.name {
    text-align: center;
}

.discounted, .price {
    font-weight: bold;
    font-size: 1.2em;
    color: crimson;
}

.discounted {
    text-decoration: line-through;
    color: gray;
}