.product {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 5px;
    width: 250px;
    height: 200px;
    margin: 0px auto;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-block {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}

.no-content {
    font-size: 2em;
}

.name {
    font-size: 1.7em;
}

.price {
    color: red;
    font-weight: bold;
    font-size: 1.5em;
}

.description {

}

.discount {
    padding: 5px;
    display: block;
    width: 250px;
    margin: 5px auto;
    box-sizing: border-box;
    border-style: none;
    border-radius: 3px;
    background-color: lightgreen;
    text-transform: uppercase;
}

.discount:hover {
    background-color: rgb(81, 231, 81);
    cursor: pointer;
}